<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>


</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @using Microsoft.AspNetCore.Identity
        @inject SignInManager<IdentityUser> SignInManager

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                @*If the user is signed-in display Logout link*@
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <form method="post" asp-controller="account" asp-action="logout">
                            <button type="submit" style="width:auto"
                                    class="nav-link btn btn-link py-0">
                                Logout @User.Identity.Name
                            </button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="account" asp-action="register">
                            Register
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="account" asp-action="login">
                            Login
                        </a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <environment include="Development,Staging">
        <div>No Finished</div>
    </environment>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Section", false)
</body>
</html>

